<h1 style="color: #590D82;">Password Reset</h1>

<p>Hi <strong>{{ username }}</strong>,</p>
<p>You requested a password reset.</p>

<p>Click this <a href="{{ link }}" style="color: #F25D9C;">link</a> to set a new password.</p>

<p>If you didn't request this, please ignore this email.</p>
