<nav class="container flex justify-between items-center py-4">
    <a href="/"><img src="/images/logo.svg" alt="PinVote" class="w-60"></a>

    <div class="flex items-center space-x-4">
        <% if (!authenticated) { %>
        <a href="/auth/create-account" class="btn btn-primary">Create account</a>
        <a href="/auth/login" class="btn">Login</a>
        <% } else { %>
            <a href="/user/polls">My Dashboard</a>
            <form action="/auth/logout" method="POST">
                <button class="btn btn-primary">Logout</button>
            </form>
        <% } %>
    </div>
</nav>